
<h1>Projects:</h1>

<hr>
<div><h2> Summer Research </h2>


  <img src = "/resources/poster.jpg">

  <p><span style="font-weight:bold; font-size:18px">Description</span></p>
  <ul>
    <li> Research done with Dr. Kristin Lamberty. 

    </li>


    <li>The goal was to develop and refine software
      technologies to support Emergent Readers using an application
    </li>


    <li>
      Worked with Unity platform in the C# language while the responding website was built with AngularJS/Node.js
    </li>

  </ul>



</div>


<hr>
<div>
  <h2>Barycentric Lagrange Interpolation</h2>
  <img src = "resources/BarycentricInterpolation.JPG">

  <p><span style="font-weight:bold; font-size:18px">Description</span></p>
  <ul>
    <li>
      Project done in MATH 4401: Numerical Methods with Applications to
      Mathematical Modeling.
    </li>


    <li>
      <a href="/resources/Barycentric_Lagrange_Interpolation_pres.pdf">Researh paper</a>: written on Barycentric Lagrange Interpolation, a type of interpolating technique that is used for data approximation. 
    </li>

    <li>
      <a href="/resources/Barcentric_Lagrange_Interpolation_pape.pdf"> Presentation</a>
    </li>



    <li> 
      Mathematica program used for mathematical analysis.
    </li>

  </ul>
</div>

<hr>
<div>
  <h2>Digital Display Garden</h2>
  <img src = "resources/DigitalDisplayGarden.png">

  <p><span style="font-weight:bold; font-size:18px">Description</span></p>
  <ul>
    <li>
      <a href="/resources/SoftwareDesignPortfolio.pdf">My Contributions</a>
    </li>

    <li> 
      Project created in CSCI 3601: Software Design and Development

    </li>

    <li>
      <a href="https://github.com/UMM-CSci/digital-display-garden">Project Repository </a>
    </li>



    <li>
      Developed a visitor feedback system for the horticulture display garden at the WCROC in
      Minnesota
    </li>


    <li>
      Designed and implemented a web application that stores visitor feedback for each flower in the garden and generates a report from the stored feedback data including comments and likes.
    </li>

    <li>
      Frontend: Angular, TypeScript; backend: Java, MongoDB 
    </li>

  </ul>
</div>
<hr>

<div>
  <h2>Introduction to OracleDB</h2>
  <img src = "resources/MultitenantArchitectureBC.jpg">

  <p><span style="font-weight:bold; font-size:18px">Description</span></p>
  <ul>

    <li>
      <a href="https://github.com/carav008/oracle-final-project">Project Repository </a>
    </li>

    <li>
      Project created in CSCI 4453: Database Systems
    </li>
    <li>
      Extensive research was done in the Oracle database system.
    </li>

    <li>
      Developed a crash course guide on how to install, use and interact with Oracle 12c.  
    </li>


    <li>
      Acted as a System Administrator, setting up and exploring container and pluggable databases on
      a Linux and Windows platform. 
    </li>
  </ul>
</div>

